<style>
    .cs {
          border: 2px solid black;
          background-color:blanchedalmond;
          width: 80%;
          /* border-collapse: collapse; */
          margin : 20px;
          font-family: sans-serif;
          text-align: center;
    }
    .cs th {
        
        border : 1px solid black; 
        padding :12px;
        color:blueviolet;
        text-align: left;
         }
     .cs td{
            border: 1px solid black;
            background-color:blue;
            padding: 10px;
        } 
    .cs tr:hover{
        background-color: aquamarine;
    }
</style>